{% extends 'base.html.twig' %}

{% block articles %}
<!-- Affichage des articles -->
<div class="line_horizontal margin_line "></div>
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}

    <section class="statut_top">
        <div class="statut">
            <div class="statut_text margin_text">
                <p>Vous avez actuellement</p>
                <p>7 tickets ouverts</p>
            </div>
        </div>
    </section>
    <section class="ticket">

        <!-- boite blanche avec la liste des tickets -->
        <div class="opened">
            <h1>Tickets ouverts</h1>
            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    {# Affichage des tickets répondus #}
                    {% if ticketsAnswered is empty %}
                        <p>Aucun ticket à afficher</p>
                    {% else %}
                        {% for ticketA in ticketsAnswered %}
                        <tr class="ticket_night">
                            <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>{{ ticketA.owner.lastname }} {{ ticketA.owner.firstname }}<br>{{ ticketA.updateTime|date('d/m/Y à H\\hi') }}</p></td>
                            <td>{{ticketA.title}}</td>
                            <td>{{ ticketA.creationDate|date('d/m/Y à H\\hi') }}</td>
                            <td>{{ ticketA.id }}</td>
                            <td class="end_ticket"><a href="" class="primary_btn_success">{{ ticketA.statement }}</a></td>
                            <tr style="height: 10px; background-color: transparent;"></tr>
                        </tr>
                        {% endfor %}
                    {% endif %}

                    {# Affichage des tickets en attente #}
                    {% if ticketsPending is empty %}
                        <p>Aucun ticket à afficher</p>
                    {% else %}
                        {% for ticketP in ticketsPending %}
                        <tr class="ticket_night">
                            <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>{{ ticketP.owner.lastname }} {{ ticketP.owner.firstname }}<br>{{ ticketP.updateTime|date('d/m/Y à H\\hi') }}</p></td>
                            <td>{{ticketP.title}}</td>
                            <td>{{ ticketP.creationDate|date('d/m/Y à H\\hi') }}</td>
                            <td>{{ ticketP.id }}</td>
                            <td class="end_ticket"><a href="" class="primary_btn_success">{{ ticketP.statement }}</a></td>
                            <tr style="height: 10px; background-color: transparent;"></tr>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- boite blanche avec la liste des tickets -->


        <!-- boite blanche avec la liste des tickets (version mobile)-->
        <div class="opened_mobile">
            <h1>Tickets ouverts</h1>
            <div class="ticket_box">
                <p>Je n'arrive pas à me connecter à mon compte client</p>
                <p>Dernière réponse le 07/10/2020</p>
                <a href="" class="primary_btn_success">Répondu</a>
            </div>
        </div>
        <!-- boite blanche avec la liste des tickets -->


        <!-- boite blanche avec la liste des tickets -->
        <div class="opened">
            <h1>Tickets fermé</h1>

            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ticket_night">
                        <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr class="ticket_night">
                        <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr class="ticket_night">
                        <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr class="ticket_night">
                        <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- boite blanche avec la liste des tickets -->
    </section>

{% endblock %}
