{% extends 'base.html.twig' %}

{% block articles %}
<!-- Affichage des articles -->
<div class="line_horizontal margin_line "></div>
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}

    <section class="statut_top">
        <div class="statut">
            <div class="statut_text margin_text">
                <p>Vous avez actuellement :</p>
                <p>{{ ticketsAnswered|length }} ticket(s) répondu, {{ ticketsPending|length }} ticket(s) en attente et {{ ticketsClosed|length }} fermé(s)</p>
            </div>
        </div>
    </section>
    <section class="ticket">

        <!-- boite blanche avec la liste des tickets (version PC)-->
        <div class="opened">
            <h1>Tickets ouverts</h1>
            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    {# Affichage des tickets répondus #}
                    {% if ticketsAnswered is empty %}
                        <p>Aucun ticket à afficher</p>
                    {% else %}
                        {% for ticketA in ticketsAnswered %}
                            <tr class="ticket_night">
                                <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>{{ ticketA.owner.lastname|capitalize }} {{ ticketA.owner.firstname|capitalize }}<br>{{ ticketA.updateTime|date('d/m/Y à H\\hi') }}</p></td>
                                <td>{{ticketA.title}}</td>
                                <td>{{ ticketA.creationDate|date('d/m/Y à H\\hi') }}</td>
                                <td>{{ ticketA.id }}</td>
                                <td class="end_ticket"><a href="" class="primary_btn_success">{{ ticketA.statement|capitalize }}</a></td>
                                <tr style="height: 10px; background-color: transparent;"></tr>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {# Affichage des tickets en attente #}
                    {% if ticketsPending is empty %}
                        <p>Aucun ticket à afficher</p>
                    {% else %}
                        {% for ticketP in ticketsPending %}
                            <tr class="ticket_night">
                                <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>{{ ticketP.owner.lastname }} {{ ticketP.owner.firstname }}<br>{{ ticketP.updateTime|date('d/m/Y à H\\hi') }}</p></td>
                                <td>{{ticketP.title}}</td>
                                <td>{{ ticketP.creationDate|date('d/m/Y à H\\hi') }}</td>
                                <td>{{ ticketP.id }}</td>
                                <td class="end_ticket"><a href="" class="primary_btn_success">{{ ticketP.statement|capitalize }}</a></td>
                                <tr style="height: 10px; background-color: transparent;"></tr>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- boite blanche avec la liste des tickets(version mobile)-->
        <div class="opened_mobile">
            <h1>Tickets ouverts</h1>
            {# Affichage des tickets répondus #}
            {% if ticketsAnswered is empty %}
                <p>Aucun ticket à afficher</p>
            {% else %}
                    {% for ticketA in ticketsAnswered %}
                        <div class="ticket_box">
                            <p>{{ ticketA.title }}</p>
                            <p>Dernière réponse le {{ ticketA.updateTime|date('d/m/Y à H\\hi') }}</p>
                            <a href="" class="primary_btn_success">{{ ticketA.statement|capitalize }}</a>
                        </div>
                    {% endfor %}
            {% endif %}

            {# Affichage des tickets en attente #}
            {% if ticketsPending is empty %}
                <p>Aucun ticket à afficher</p>
            {% else %}
                    {% for ticketP in ticketsPending %}
                        <div class="ticket_box">
                            <p>{{ ticketP.title }}</p>
                            <p>Dernière réponse le {{ ticketP.updateTime|date('d/m/Y à H\\hi') }}</p>
                            <a href="" class="primary_btn_success">{{ ticketP.statement|capitalize }}</a>
                        </div>
                    {% endfor %}
            {% endif %}
        </div>


        <!-- boite blanche avec la liste des tickets fermés (version mobile)-->
            <div class="opened_mobile">
                <h1>Tickets fermés</h1>
                {# Affichage des tickets fermés #}
                {% if ticketsClosed is empty %}
                <p>Aucun ticket à afficher</p>
            {% else %}
                    {% for ticketC in ticketsClosed %}
                        <div class="ticket_box">
                            <p>{{ ticketC.title }}</p>
                            <p>Dernière réponse le {{ ticketC.updateTime|date('d/m/Y à H\\hi') }}</p>
                            <a href="" class="primary_btn_success">{{ ticketC.statement|capitalize }}</a>
                        </div>
                    {% endfor %}
            {% endif %}
            </div>

        <!-- boite blanche avec la liste des tickets -->
        <div class="opened">
            <h1>Tickets fermés</h1>

            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    {# Affichage des tickets fermés #}
                    {% if ticketsClosed is empty %}
                        <p>Aucun ticket à afficher</p>
                    {% else %}
                        {% for ticketC in ticketsClosed %}
                            <tr class="ticket_night">
                                <td class="start_ticket"><img src="{{ asset('images/user.jpg') }}" alt="" class="ticket_img"><p>{{ ticketC.owner.lastname }} {{ ticketC.owner.firstname }} <br> {{ ticketC.updateTime|date('d/m/Y à H\\hi') }} </p></td>
                                <td>{{ ticketC.title }}</td>
                                <td>{{ ticketC.creationDate|date('d/m/Y à H\\hi') }}</td>
                                <td>{{ ticketC.id }}</td>
                                <td class="end_ticket"><a href="" class="primary_btn_close">{{ ticketC.statement|capitalize }}</a></td>
                                <tr style="height: 10px; background-color: transparent;"></tr>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- boite blanche avec la liste des tickets -->
    </section>

{% endblock %}
