{% extends 'base.html.twig' %}
{% block title %}FAQ{% endblock %}
    {% block body %}
    <body>
    <!-- Partie FAQ -->
    <h1 id="title-faq">Frequently Asked Questions</h1>

    <!-- Container des questions -->
    <div class="container-faq">
        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa?</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa?</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa?</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa?</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis assumenda amet corrupti tempore ut inventore velit earum beatae vero ea voluptate aut laudantium dolorem facilis veritatis, voluptatem alias quidem architecto?</p>
            </div>
        </div>

        <div class="questions">
            <div class="visible-pannel">
                <h2>Lorem ipsum dolor sit amet ?</h2>
                <img src="{{ asset('images/plus.jpg')}}" alt="croix-animation" class="img-cross">
            </div>
            <div class="toggle-pannel">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, exercitationem illo accusamus cumque veniam ab labore officia. Voluptatem, harum doloribus? Molestiae modi esse eaque sapiente deserunt quis accusamus excepturi culpa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis animi voluptate praesentium. Obcaecati veniam error similique dolore quos adipisci maiores at sint consequuntur. Velit ipsa neque officiis asperiores maiores fugiat.</p>
            </div>
        </div>
    </div>
    {% block js %}<script src="{{ asset('js/faq.js') }}"></script>{% endblock %}
</body>
{% endblock %}



