{% extends 'base.html.twig' %}

{% block title %}Créer un ticket{% endblock %}

{% block body %}

<body>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="login_errors" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="ticket_sizing">
        <div class="ticket_page">
            <form class="ticket_form" name="ticket" method="POST" novalidate="novalidate">
                <h1>Vous rencontrez un problème ? Dites-nous tout.</h1>
                <div class="login_input_full input_size_ticket">
                    {{ form_widget(form.title) }}
                </div>
                <div class="login_input_full input_size_ticket">
                    {{ form_widget(form.content) }}
                </div>
                <div class="level_depart">
                    <div class="login_input_full input_size_ticket">
                        {{ form_widget(form.level) }}
                    </div>
                    <div class="login_input_full input_size_ticket margin_left_input">
                        {{ form_widget(form.department) }}
                        {{ form_widget(form.statement) }}
                    </div>
                </div>
                <button type="submit" class="login_button input_size_ticket">Ouvrir un ticket</button>
                {{ form_row(form._token) }}
            </form>
            <div class="ticket_information">
                <h1>Concernant notre support</h1>
                <div class="ticket_information_box no_top_margin">
                    <i class="fas fa-clock"></i>
                    <p>Notre service est ouvert du lundi au vendredi de 9h à 14h.</p>
                </div>
                <div class="ticket_information_box">
                    <i class="fas fa-info-circle"></i>
                    <p>Vous aurez une réponse sous 2 jours ouvrés</p>
                </div>
                <div class="ticket_information_box">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>N'abusez pas de la priorité, soyez honnête</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
