{% extends 'base.html.twig' %}

{% block title %}Voir mon ticket{% endblock %}

{% block articles %}

<div class="line_horizontal"></div>
        <div class="head_ticket">
            <div class="head_ticket_title">
                <h2>Ticket #{{ actualTicket.id }}</h2>
            </div>
            <div class="head_ticket_btn">
                <div class="ticket_title">
                    <p>{{ actualTicket.title }}</p>
                </div>
                 <div class="btn_box">
                    <a class="primary_btn_white" href="{{ path('dash_client')}}">Retour</a>
                    {% if actualTicket.statement != 'fermé' %}
                    <a onclick="return confirm('Êtes-vous sûr de vouloir fermer ce ticket ?')" class="primary_btn_red" href="{{ path('close_ticket' , {'slug': actualTicket.slug}) }}">Fermer le ticket</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block body %}

<section class="statut_top">
        <div class="statut statut_reset" id="statut">
            <div class="statut_text statut_width">

        {# Affichage du contenu du premier ticket #}
                <div class="client_response">
                    <div class="client_response_header">
                        <div class="client_ticket_info_box">
                            <div>
                                <img src="{# TODO : Ajouter picture à la BDD User {{actualTicket.Owner.picture}} #}{{ asset('images/user.jpg') }}" alt="" class="ticket_img">
                            </div>
                            <div class="client_info">
                                <p>{{actualTicket.Owner.firstname}} {{actualTicket.Owner.lastname}}</p>
                                <p>Client</p>
                            </div>
                        </div>
                        <div>
                            <p class="response_date">{{actualTicket.updateTime|date('d/m/Y à H\\hi')}}</p>
                        </div>
                    </div>
                    <div class="ticket_line"></div>
                    <div class="ticket_client_message">
                        <p>{{actualTicket.content}}</p>
                    </div>
                </div>
        {# Affichage du contenu du premier ticket #}




        {% for MessageDisplay in messageConversation %}
            {# Affichage d'une boite de message #}
                <div class="client_response {{ MessageDisplay.author.roles[0]=='ROLE_ADMIN'? 'green' : '' }}">
                    <div class="client_response_header">
                        <div class="client_ticket_info_box">
                            <div>
                                <img src="{# TODO : Ajouter picture à la BDD User {{actualTicket.Owner.picture}} #}{{ asset('images/user.jpg') }}" alt="" class="ticket_img">
                            </div>
                            <div class="client_info">
                                <p>{{ MessageDisplay.author.lastname }} {{ MessageDisplay.author.firstname }}</p>
                                <p>{{ MessageDisplay.author.roles[0]=='ROLE_ADMIN'? 'Support Technique' : 'Client' }}</p>
                            </div>
                        </div>
                        <div>
                            <p class="response_date {{ MessageDisplay.author.roles[0]=='ROLE_ADMIN'? 'white' : 'green' }}">{{ MessageDisplay.date|date('d/m/Y à H\\hi') }}</p>
                        </div>
                    </div>
                    <div class="ticket_line"></div>
                    <div class="ticket_client_message">
                        <p>{{ MessageDisplay.content }}</p>
                    </div>
                </div>

        {# Affichage d'une boite de message CLIENT  #}
        {% endfor %}

        {# Affichage d'une boite de message ADMIN #}

                <div class="client_response">
                    <form name="create_message" method="post">
                        <div id="create_message">
                            <div class="error_msg">
                                {{ form_errors(form.content) }}
                            </div>
                            <div>
                                {{ form_widget(form.content) }}
                            </div>
                            <div>
                                <button type="submit" id="create_message_save" name="create_message[save]" class="login_button input_size_ticket submit_top">Répondre</button>
                            </div>
                            {{ form_row(form._token) }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="statut_btn statut_btn_width">
                <p>{{ actualTicket.creationDate|date('d/m/Y à H\\hi') }}</p>
                <p class="reset_margin">Actuellement {{actualTicket.Statement}}</p>
            </div>
        </div>
    </section>
{% endblock %}